//FONTS
@font-face {
    font-family: 'Adam CG Pro';
    src: url('../fonts/adam/adam.cg_pro-webfont.woff2') format('woff2'),
         url('../fonts/adam/adam.cg_pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('../fonts/josefinslab/josefinslab-regular-webfont.woff2') format('woff2'),
         url('../fonts/josefinslab/josefinslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



//Font Variables
$heading: 'Adam CG Pro';
$body: 'Josefin Slab';

//Colour variables
$blue: #11132e;
$red: #c72026;
$grey: #d2d5d3;
$white: #FFFFFF;



//media query variables
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";

//resets
.nopadding {
  margin: 0px !important;
  padding: 0px !important;
}

.wave_border {
  position: absolute;
  width: 100%;
  left:0;
  margin-top: -19px;
  // border: 1px solid black;
  z-index: 1;
}


#site_con {
  overflow: hidden;
  width: 100%;
  // border: 1px solid black;
}

//--------------------  HOME STYLING --------------------------------//


// **** **** HEADER STYLING **** ***** //

#home_header {
    background-image: url('../img/home/lake_small.png');
}

.main_header {
  background-size: 100%;
  background-repeat: no-repeat;
  #main_nav {
    // border: 2px solid green;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    button {
      border: none;
      top: 0;
      right: 0;
      padding: 10px;
      position: absolute;
      z-index: 2;
    }
    .navbar-toggler .navbar-toggler-icon {
      border: none;
      width: 50px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(17, 19, 46)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

    }

      #nav_content {
        // border: 2px solid pink;
        position: absolute;
        z-index: 1;
        background: rgba(255, 255, 255, 0.8);
        height: 100vh;
        top: 0;
        left:0;
        right:0;
        padding-top: 80px;
        ul {
          // border: 2px solid yellow;
          height: 100vh;
        }
        ul li {
          text-align: center;
          p {
            color: $blue;
            font-size: 1.3em;
          }
          a {
          color: $blue;
          font-size: 1.5em;
          font-family: $heading;
        }
      }
      }
  }

  #main_logo {
    max-width: 50%;
    padding-top: 25px;
    // border: 1px solid purple;
    padding-bottom: 0;
  }

  #red_wave_img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
  // border: 1px solid red;
  }

  #home_title_box {
    border: 1px solid $white;
    padding:10px;
    text-align: center;
    h2 {
      font-family: $body;
        line-height: 30px;
      margin:0;
      color: $white;
      font-size: 1.1em;
      .home_title {
        font-family: $heading;
        font-size: 1.3em;
      }
    }
  }

  .book_button {
    color: $blue;
    border: none;
    padding: 10px;
    font-size: .7em;
    width: 125px;
  }

  #home_book_button {
    background-color: $white;
    margin: 20px;
      font-family: $body;
  }

}

@media #{$desktop} {
  #home_header {
        background-image: url('../img/home/lake_large.png');
        height: 950px;
  }
  .main_header {
    background-size: 100%;
    background-repeat: no-repeat;
    // border: 2px solid red;
    // height: 950px;
    // border: 2px solid limegreen;
    #main_nav {
      position: static;
      // border: 2px solid orange;
      background: transparent;
      #nav_content {
        // border: 2px solid hotpink;
        background: transparent;
        height: inherit;
        position: static;
        padding:0;
        ul {
          // border: 1px solid black;
          margin: 0 auto;
          height: auto;
          padding: 50px;
          li {
            a{
              font-size: .875em;
            }
          }
        }
      }
    }
    #header_top_con{
      // border: 1px solid blue;
      #current_page_con{
        // border: 1px solid purple;
        text-align: center;
        a{
          font-family: $heading;
          color: $blue;
          font-size: .875em;
          // border: 1px solid green;
        }
        .current_page_underline {
          // border-top: 1px solid $blue;
          margin-top: 0px;
          margin-bottom: 0px;
          width: 25px;
        }
      }
      #media_icon_con{
        // border: 1px solid yellow;
        text-align: center;
        ul {
          // border: 1px solid pink;
          text-align: center;
          margin: 0;
          padding: 0;
          li {
          display: inline;
          // border: 1px solid green;
          a{
            img {
              width: 20px;
            }
          }
        }
      }
      }
    }
    #home_title_box {
      padding: 40px;
      margin-bottom: 20px;
      h2 {
        font-size: 2.1em;
        line-height: 50px;
      }
    }
    .wave_border {
      margin-top: 23%;
      z-index: 0;
    }
  }

}


// **** ****SECTION 1 STYLING [WHO WE ARE] **** ***** //
#home_section_1 {
  #who_we_are_con {
    background-color: $red;
    padding: 25px 50px;
    color: $white;
    h3{
      font-family: $heading;
      font-size: 1.2em;
      text-align: center;
    }
    img {
      width: 120px;
      display: block;
      // border: 2px solid limegreen;
      margin: 20px auto;
    }
    p{
      font-family: $body;
      font-size: .8em;
      text-align: justify;
      padding-top: 20px;
    }
  }
}

@media #{$desktop}{
  #home_section_1 {
    // border: 2px solid orange;
    // position: absolute;
    margin-top: -20%;
    #who_we_are_con {
      // border: 2px solid hotpink;
      display: block;
      margin: 0 auto;
      width: 70%;
      padding: 70px 100px 70px 100px;
      p{
        font-size: .875em;
      }
    }
  }
}

// **** **** home page [VIDEO]] **** //

@media #{$desktop} {
  #video_con {
    // border: 2px solid lightblue;
    width: 100%;
    position: absolute;
    margin-top: -5%;
    img {
      // border: 2px solid magenta;
      width: 60%;
      margin: 0 auto;
      display: block;
    }
    p{
      font-family: $body;
      padding-left: 20%;
      margin-top: 20px;
    }
  }
}

// **** FOOTER styling ****//

#main_footer {
  // border: 2px solid cornflowerblue;
  text-align: center;
  #footer_media_icon_con {
    // border: 1px solid green;
    padding: 0;
    margin: 0;
    ul {
        // border: 1px solid green;
        padding: 20px;
        margin: 0;
    li {
      list-style: none;
        // border: 1px solid pink;
        display: inline-block;
      a  {
        img {
          height: 25px;
          margin: 3px;
        }
      }
    }
  }
  }
}

@media #{$desktop}{
  .home_footer{
    margin-top: 45%;
  }
  #main_footer{
    margin-top: 50px;
    padding: 50px 15px;
    background-color: $blue;
    // border: 2px dashed white;
    #footer_logo_con {
      // border: 2px solid limegreen;
      img {
          // border: 2px solid yellow;
          height: 60px;
          padding: 0;

      }
    }
    #footer_nav {
      // border: 2px solid blue;
      ul {

        li {

        a {
        color: $white;
        font-size: .7em;
        font-family: $heading;
        }
        p {
          color: $white;
          font-size: .9em;
          padding:0;
          margin:0;
        }
      }
    }
    }
    #footer_media_icon_con {
      // border: 2px solid purple;
      margin-top: 0;
      ul {
        li {
          a {
            // border: 1px solid $white;
            img {
              height: 25px;
            }
          }
        }
      }
    }
    #footer_login_button {
      // border: 2px solid red;
      button {
        background-color: $white;
        border: none;
        padding: 5px 10px;
        a{
          color: $blue;
          font-family: $heading;
          font-size: .75em;
        }
      }

    }
  }
}

//--------------------  ABOUT STYLING --------------------------------//

//----ABOUT header --- //
#about_header{
    overflow: hidden;
  #about_book_button {
    background-color: $blue;
    color: $white;
    font-family: $heading;
  }
}

@media #{$desktop} {
  #about_header{

    #about_book_button {
      background-color: $red;
      margin-top: -20px;
    }
  }

}

//----ABOUT [about the island] --- //

#about_the_island {
  overflow: hidden;
  #about_boat_icon {
    // border: 2px solid green;
    position: absolute;
    height: 7%;
    right: 20px;
    margin-top: -7%;
  }
  background-color: $grey;
  margin-top:40px;
  padding: 0;
  h2 {
    text-align: center;
    font-family: $heading;
    font-size: 1em;
    color: $blue;
    padding: 30px;
    margin:0;
}
#about_para1 {
  font-family: $body;
  color: $blue;
  text-align: justify;
  padding: 0 25px 0 25px;
  font-size: .8em;
}
#about_para2 {
  background-color: $blue;
  margin: 25px 25px 25px 25px;
  font-family: $body;
  color: $white;
  padding: 20px 25px 65px 25px;
  font-size: .75em;
  text-align: justify;
}


  }

@media #{$tablet} {
  #about_the_island {
    #about_para2 {
      padding-bottom: 100px;
    }
  }
}

@media #{$desktop} {
  #about_content {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
  }

  #about_the_island {
    overflow: visible;
    // border: 2px solid purple;
    margin-top: 0;
    padding-bottom: 30px;
    #about_boat_icon {
      height: 13%;
      right: 150px;
      margin-top: -4%;
    }
    h2 {
      font-size: 2.5em;
    }
    #about_waves_icon {
      margin-left: -170px;
      // border: 1px solid red;
      height: 7%;
      margin-top: 30px;
    }
    #about_para1 {
      padding: 50px 200px;
      font-size: 1.1em;
    }
    #about_image_1 {
    padding-left: 100px;
    padding-right: 100px;
    }
    #about_para2 {
      margin-left: 125px;
      margin-right: 125px;
      margin-top: 100px;
      padding:75px 100px 100px 100px;
      font-size: .875em;
    }
    .wave_border {
      margin-top: -30px;
      left: 0;
    }
  }
}

  //----ABOUT [history --- //

#about_history {
  // overflow: hidden;
    background-color: $red;
    padding-bottom: 25px;
  h2 {
    font-family: $heading;
    text-align: center;
    font-size: .93em;
    color: $white;
    padding: 50px 30px 30px 30px;
    margin: 35px 0 0 0;
  }
  p {
    font-family: $body;
    color: $white;
    text-align: justify;
    padding: 0 40px;
    font-size: .75em;
  }

    img {
      // border: 1px solid white;
      height: 60px;
    }

}

#about_image_2 {
  padding-left: 20%;
  padding-right: 20%;
  left:0;
  position: absolute;
  z-index: 2;
  margin-top: -10%;
}


@media #{$desktop} {
  #about_image_2 {
  padding-left: 30%;
  padding-right: 30%;
  margin-top: -18%;
}
.filler_image {
  height: 150px;
}
}


@media #{$desktop} {
  #about_history {
    // border: 2px solid black;
    margin: 0px -50px 100px -50px;
    h2 {
      font-size: 2em;
      padding: 30px;
    }
    p{
      font-size: .875em;
      padding: 25px 125px 20px 125px;
    }
    img {
      height: 120px;
      margin-bottom: 20px;
    }
  }
}


  //----ABOUT [bird section--- //

#about_bird {
  padding: 0px;
  overflow: hidden;
  h2 {
    font-family: $heading;
    // border: 1px solid green;
    background-color: $grey;
    text-align: center;
    font-size: .93em;
    color: $blue;
    margin: 0 -15px 0 -15px;
    padding: 50px 0px 30px 0px;
    }
    p{
      color: $blue;
      background-color: $grey;
      font-family: $body;
      margin: 0 -15px 0 -15px;
      text-align: justify;
      font-size: .75em;
      padding: 0px 25px 50px 25px;
    }
    #about_birds_icon {
      position: absolute;
      height: 6%;
      right: 25%;
      margin-top: -10%;

    }
    #about_bird_egg_img {
      padding: 40px 10px;
    }
}

@media #{$desktop} {
  #about_bird {
    overflow: visible;
    padding-bottom: 40px;
    .wave_border {
      left:0;
      margin-top: -35px;
    }
    h2 {
      font-size: 2em !important;
      padding-top: 125px;
    }
    p {
      padding: 25px 100px 125px 100px;
      font-size: .875em;
    }
    #about_birds_icon {
      // border:2px solid black;
      right: -6%;
      margin-top: -35%;
      height: 9%;
    }
    #about_bird_egg_img {
      padding-left: 150px;
      padding-right: 150px;
      margin-top: -100px;
    }
    button {
      background-color: $blue;
      color: $white;
      padding: 10px 20px;
      border: none;
      font-family: $heading;
    }
  }
}


//----ABOUT restoration section--- //

#about_restoration {
overflow: hidden;
#restoration_desc_con {
  background-color: $red;
  padding: 30px 35px;
  h2{
    font-family: $heading;
    color: $white;
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
  }
  #restoration_desc {
    font-family: $body;
    color: $white;
    text-align: justify;
    font-size: .75em;
  }
  #about_hammer_icon {
    height: 60px;
  }
}

#restoration_img_con {
  background-color: $grey;
  padding-top: 20px;
  padding-bottom: 40px;
  // border: 1px solid blue;

  p {
    text-align: center;
    font-family: $heading;
    color: $blue;
    font-size: .9em;
    border: 1px solid $blue;
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    left: 0;
    right: 0;
    z-index: 2;
  }
}

}

#about_spacer {
  height: 20px;
}

@media #{$desktop} {
  #about_restoration {
    overflow: visible;
      #restoration_desc_con {
        padding: 50px;
        h2 {
          font-size: 2em;
        }
        #restoration_desc {
          font-size: 1em;
          padding: 25px 50px;
        }
        #about_hammer_icon{
          height: 125px;
        }
        }
        #restoration_img_con {
          margin-left: -75px;
          margin-right: -75px;
          margin-top: -125px;
          padding: 200px 100px 50px 100px;
          img {
            padding: 0px 50px 50px 50px;
          }
        }
        .wave_border {
          margin-top: -50px;
        }
  }
}

//----ABOUT partners section--- //

#about_partners {
  background-color: $blue;
  padding-bottom: 20px;
  p {
    text-align: justify;
    color: $white;
    font-family: $body;
    padding: 35px;
    font-size: .75em;
  }
  .wave_border {
    margin-top: -10px;
  }

  button {
    background-color: $white;
    padding: 10px 20px;
    border: none;
    font-family: $heading;
    color: $blue;

  }
}

@media #{$desktop}{
  #about_partners  {
    margin-top: 70px;
    padding: 50px 50px 25px 50px;
    p {
      font-size: .875em;
    }
    .wave_border {
      margin-top: -80px;
    }
  }
}








//end
